.header {
  border-bottom: 1px solid var(--border-header);

  &_contacts-list {
    display: flex;
    align-items: center;
  }

  &__contacts-item:not(:last-child) {
    margin-right: 50px;
  }

  &__contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-color);
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
  }

  &__contacts-link:hover,
  &__contacts-link:focus {
    color: var(--accent-color);
  }

  &__contacts-icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
